
@media screen and (max-width: 420px) {

	
body{margin:10px 0;font-size:15}

.container{width:315px;margin:0 auto}

 .heading h1{
font-size:2em}
#botones{margin-bottom:10px}
#scores-container .score-container{padding:10px}
#scores-container .puntos{display:inline-block;text-align:center;font-weight:700} 
#botones a{padding:0 5px;height:25px;line-height:25px;text-align:center}
#botones a:hover{background:#f7B785}

.grid-row{margin-bottom:10px}
.grid-row:last-child{margin-bottom:0}
.grid-row:after{content:"";display:block;clear:both}
.grid-cell{width:57px;height:57px;margin-right:15px;float:left;border-radius:3px;background:rgba(238,228,218,.35)}
.grid-cell:last-child{margin-right:0}
.grid-cell.has-value{line-height:62px}

 }